
<%- include('../layouts/user/header.ejs') -%>
<style>
    .password-container {
    position: relative;
    width: 100%;
}

#signin-password {
    padding-right: 30px; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

.toggle-password:hover {
    color: #333;
}

</style>
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/logo-bg1.png')">
    <div class="container">
        <div class="form-box" style="border-radius: 21px;">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="/login" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="/user-signup" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                    </li> -->
                </ul>
                <div class="tab-content">
                    <div class="signin" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                        <form action="/login" method="post">
                           
                            <% if (locals.message && message.length > 0) { %>
                                <div class="alert text-center" style="color: red; background-color: rgb(234, 189, 189);">
                                    <%= message %>
                                </div>
                            <% } %>
                            
                            
                            <div class="form-group mt-4">
                                <label for="singin-email-2">Username or email address *</label>
                                <input type="email" class="form-control rounded" id="email" name="email" value="achu@gmail.com" required>
                            </div><!-- End .form-group -->

                            <div class="form-group">
                                <label for="signin-password">Password *</label>
                                <div class="password-container">
                                    <input type="password" class="form-control rounded" id="signin-password" name="password" value="Sayooj12345" required>
                                    <span id="togglePassword" class="toggle-password">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>
                            </div><!-- End .form-group -->
                            

                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2 mt-3 w-50 ml-4 rounded">
                                    <span>LOG IN</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>

                                  <a href="/signup" class="forgot-link mt-3 ml-3">Create an Account?</a>
                            </div><!-- End .form-footer -->
                        </form>
                        <div class="form-choice">
                            <p class="text-center">or sign in with</p>
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <a href="/auth/google" class="btn btn-login rounded-pill w-100">
                                       <span class="pr-3">
                                        <img width="20" height="20" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />
                                       </span>
                                        Login With Google
                                    </a>
                                </div><!-- End .col-6 -->
                               
                            </div><!-- End .row -->
                        </div><!-- End .form-choice -->
                    </div><!-- .End .tab-pane -->
                   
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div><!-- End .login-page section-bg -->
</main><!-- End .main -->
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#signin-password');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        // Toggle the icon
        const icon = this.querySelector('i');
        if (type === 'password') {
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
</script>







<%- include('../layouts/user/footer.ejs') -%>