<div class="bottom-page">
    <div class="body-text">Copyright © 2024 Remos. Design with</div>
    <i class="icon-heart"></i>
    <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
</div>
<!-- /bottom-page -->
</div>
<!-- /main-content -->
</div>
<!-- /section-content-right -->
</div>
<!-- /layout-wrap -->
</div>
<!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- Javascript -->
<script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/bootstrap-select.min.js"></script>
<script src="/admin/js/zoom.js"></script>
<script src="/admin/js/jvectormap-1.2.2.min.js"></script>
<script src="/admin/js/jvectormap-us-lcc.js"></script>
<script src="/admin/js/jvectormap.js"></script>
<script src="/admin/js/morris.min.js"></script>
<script src="/admin/js/raphael.min.js"></script>
<script src="/admin/js/morris.js"></script>
<script src="/admin/js/apexcharts/apexcharts.js"></script>
<script src="/admin/js/apexcharts/line-chart-1.js"></script>
<script src="/admin/js/apexcharts/line-chart-2.js"></script>
<script src="/admin/js/apexcharts/line-chart-3.js"></script>
<script src="/admin/js/apexcharts/line-chart-4.js"></script>
<script src="/admin/js/apexcharts/line-chart-8.js"></script>
<script src="/admin/js/apexcharts/line-chart-9.js"></script>
<script src="/admin/js/theme-settings.js"></script>
<script src="/admin/js/apexcharts/line-chart-10.js"></script>
<!-- <script src="js/switcher.js"></script> -->
<script src="/admin/js/theme-settings.js"></script>
<script src="/admin/js/main.js"></script>

</body>

</html>