

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/admin/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/animation.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="/admin/font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="/admin/icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/admin/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/admin/images/favicon.png">
    
    <!-- Cropper.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>


</head>


<!-- #wrapper -->
<div id="wrapper">
    <!-- #page -->
    <div id="page" class="">
        <!-- layout-wrap -->
        <div class="layout-wrap">
            <!-- preload -->
           
            <!-- /preload -->
            <!-- section-menu-left -->
            <div class="section-menu-left">
                <div class="box-logo">
                    <a href="index.html" id="site-logo-inner">
                      <img src="/admin/images/logo/logo.png" alt="">
                    </a>
                    <div class="button-show-hide">
                        <i class="icon-menu-left"></i>
                    </div>
                </div>
                <div class="center">
                    <div class="center-item">
                        <div class="center-heading">Main Home</div>
                        <ul class="menu-list">
                            <li class="menu-item has-children active">
                                <a href="javascript:void(0);" class="menu-item-button">
                                    <div class="icon"><i class="icon-grid"></i></div>
                                    <div class="text">Dashboard</div>
                                </a>
                               
                            </li>
                        </ul>
                    </div>
                    <div class="center-item">
                        <div class="center-heading">All page</div>
                        <ul class="menu-list">
                            <li class="menu-item has-children">
                                <a href="javascript:void(0);" class="menu-item-button">
                                    <div class="icon"><i class="icon-shopping-cart"></i></div>
                                    <div class="text">Ecommerce</div>
                                </a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="/admin/add-product" class="">
                                            <div class="text">Add Product</div>
                                        </a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="/admin/products" class="">
                                            <div class="text">Product List</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item has-children">
                                <a href="javascript:void(0);" class="menu-item-button">
                                    <div class="icon"><i class="icon-layers"></i></div>
                                    <div class="text">Category</div>
                                </a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="/admin/category" class="">
                                            <div class="text">Category list</div>
                                        </a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="/admin/add-Category" class="">
                                            <div class="text">New category</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                         
                            <li class="menu-item has-children">
                                <a href="javascript:void(0);" class="menu-item-button">
                                    <div class="icon"><i class="icon-file-plus"></i></div>
                                    <div class="text">Order</div>
                                </a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="/admin/orderList" class="">
                                            <div class="text">Order list</div>
                                        </a>
                                    </li>
                                   
                                   
                                </ul>
                            </li>
                            <li class="menu-item has-children">
                                <a href="javascript:void(0);" class="menu-item-button">
                                    <div class="icon"><i class="icon-user"></i></div>
                                    <div class="text">User</div>
                                </a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="/admin/users" class="">
                                            <div class="text">All user</div>
                                        </a>
                                    </li>
                                    <!-- <li class="sub-menu-item">
                                        <a href="add-new-user.html" class="">
                                            <div class="text">Add new user</div>
                                        </a>
                                    </li> -->
                                    <li class="sub-menu-item">
                                        <a href="/admin/login" class="">
                                            <div class="text">Login</div>
                                        </a>
                                    </li>
                                    <!-- <li class="sub-menu-item">
                                        <a href="sign-up.html" class="">
                                            <div class="text">Sign up</div>
                                        </a>
                                    </li> -->
                                </ul>
                            </li>
                           
                           
                            <li class="menu-item">
                                <a href="report.html" class="">
                                    <div class="icon"><i class="icon-pie-chart"></i></div>
                                    <div class="text">Report</div>
                                </a>
                            </li>
                        </ul>
                    </div>
               
                   
                </div>
            
            </div>
            <!-- /section-menu-left -->
            <!-- section-content-right -->
            <div class="section-content-right">
                <!-- header-dashboard -->
                <div class="header-dashboard">
                    <div class="wrap">
                        <div class="header-left">
                            <a href="index.html">
                                <img class="" id="logo_header_mobile" alt="" src="/admin/images/logo/logo.png" data-light="/admin/images/logo/logo.png" data-dark="/admin/images/logo/logo-dark.png" data-width="154px" data-height="52px" data-retina="/admin/images/logo/logo@2x.png">
                            </a>
                            <div class="button-show-hide">
                                <i class="icon-menu-left"></i>
                            </div>
                            <form class="form-search flex-grow">
                                <fieldset class="name">
                                    <input type="text" placeholder="Search here..." class="show-search" name="name" tabindex="2" value="" aria-required="true" required="">
                                </fieldset>
                                <div class="button-submit">
                                    <button class="" type="submit"><i class="icon-search"></i></button>
                                </div>
                                <div class="box-content-search" id="box-content-search">
                                    <ul class="mb-24">
                                        <li class="mb-14">
                                            <div class="body-title">Top selling product</div>
                                        </li>
                                        <li class="mb-14">
                                            <div class="divider"></div>
                                        </li>
                                        <li>
                                            <ul>
                                                <li class="product-item gap14 mb-10">
                                                    <div class="image no-bg">
                                                        <img src="images/products/17.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Dog Food Rachael Ray Nutrish®</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-10">
                                                    <div class="divider"></div>
                                                </li>
                                                <li class="product-item gap14 mb-10">
                                                    <div class="image no-bg">
                                                        <img src="images/products/18.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Natural Dog Food Healthy Dog Food</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-10">
                                                    <div class="divider"></div>
                                                </li>
                                                <li class="product-item gap14">
                                                    <div class="image no-bg">
                                                        <img src="images/products/19.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Freshpet Healthy Dog Food and Cat</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="">
                                        <li class="mb-14">
                                            <div class="body-title">Order product</div>
                                        </li>
                                        <li class="mb-14">
                                            <div class="divider"></div>
                                        </li>
                                        <li>
                                            <ul>
                                                <li class="product-item gap14 mb-10">
                                                    <div class="image no-bg">
                                                        <img src="images/products/20.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Sojos Crunchy Natural Grain Free...</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-10">
                                                    <div class="divider"></div>
                                                </li>
                                                <li class="product-item gap14 mb-10">
                                                    <div class="image no-bg">
                                                        <img src="images/products/21.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Kristin Watson</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-10">
                                                    <div class="divider"></div>
                                                </li>
                                                <li class="product-item gap14 mb-10">
                                                    <div class="image no-bg">
                                                        <img src="images/products/22.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Mega Pumpkin Bone</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-10">
                                                    <div class="divider"></div>
                                                </li>
                                                <li class="product-item gap14">
                                                    <div class="image no-bg">
                                                        <img src="images/products/23.png" alt="">
                                                    </div>
                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text">Mega Pumpkin Bone</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="header-grid">
                            <!-- <div class="header-item country">
                                <select class="image-select no-text">
                                    <option data-thumbnail="images/country/1.png">ENG</option>
                                    <option data-thumbnail="images/country/9.png">VIE</option>
                                </select>
                            </div> -->
                            <!-- <div class="header-item button-dark-light">
                                <i class="icon-moon"></i>
                            </div> -->
                            <!-- <div class="popup-wrap noti type-header">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="header-item">
                                            <span class="text-tiny">1</span>
                                            <i class="icon-bell"></i>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton1" >
                                        <li>
                                            <h6>Message</h6>
                                        </li>
                                        <li>
                                            <div class="noti-item w-full wg-user active">
                                                <div class="image">
                                                    <img src="images/avatar/user-11.png" alt="">
                                                </div>
                                                <div class="flex-grow">
                                                    <div class="flex items-center justify-between">
                                                        <a href="#" class="body-title">Cameron Williamson</a>
                                                        <div class="time">10:13 PM</div>
                                                    </div>
                                                    <div class="text-tiny">Hello?</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="noti-item w-full wg-user active">
                                                <div class="image">
                                                    <img src="images/avatar/user-12.png" alt="">
                                                </div>
                                                <div class="flex-grow">
                                                    <div class="flex items-center justify-between">
                                                        <a href="#" class="body-title">Ralph Edwards</a>
                                                        <div class="time">10:13 PM</div>
                                                    </div>
                                                    <div class="text-tiny">Are you there?  interested i this...</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="noti-item w-full wg-user active">
                                                <div class="image">
                                                    <img src="images/avatar/user-13.png" alt="">
                                                </div>
                                                <div class="flex-grow">
                                                    <div class="flex items-center justify-between">
                                                        <a href="#" class="body-title">Eleanor Pena</a>
                                                        <div class="time">10:13 PM</div>
                                                    </div>
                                                    <div class="text-tiny">Interested in this loads?</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="noti-item w-full wg-user active">
                                                <div class="image">
                                                    <img src="images/avatar/user-11.png" alt="">
                                                </div>
                                                <div class="flex-grow">
                                                    <div class="flex items-center justify-between">
                                                        <a href="#" class="body-title">Jane Cooper</a>
                                                        <div class="time">10:13 PM</div>
                                                    </div>
                                                    <div class="text-tiny">Okay...Do we have a deal?</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="#" class="tf-button w-full">View all</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="popup-wrap message type-header">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="header-item">
                                            <span class="text-tiny">1</span>
                                            <i class="icon-message-square"></i>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2" >
                                        <li>
                                            <h6>Notifications</h6>
                                        </li>
                                        <li>
                                            <div class="message-item item-1">
                                                <div class="image">
                                                    <i class="icon-noti-1"></i>
                                                </div>
                                                <div>
                                                    <div class="body-title-2">Discount available</div>
                                                    <div class="text-tiny">Morbi sapien massa, ultricies at rhoncus at, ullamcorper nec diam</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="message-item item-2">
                                                <div class="image">
                                                    <i class="icon-noti-2"></i>
                                                </div>
                                                <div>
                                                    <div class="body-title-2">Account has been verified</div>
                                                    <div class="text-tiny">Mauris libero ex, iaculis vitae rhoncus et</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="message-item item-3">
                                                <div class="image">
                                                    <i class="icon-noti-3"></i>
                                                </div>
                                                <div>
                                                    <div class="body-title-2">Order shipped successfully</div>
                                                    <div class="text-tiny">Integer aliquam eros nec sollicitudin sollicitudin</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="message-item item-4">
                                                <div class="image">
                                                    <i class="icon-noti-4"></i>
                                                </div>
                                                <div>
                                                    <div class="body-title-2">Order pending: <span>ID 305830</span></div>
                                                    <div class="text-tiny">Ultricies at rhoncus at ullamcorper</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="#" class="tf-button w-full">View all</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="header-item button-zoom-maximize">
                                <div class="">
                                    <i class="icon-maximize"></i>
                                </div>
                            </div>
                            <!-- <div class="popup-wrap apps type-header">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="header-item">
                                            <i class="icon-grid"></i>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton4" >
                                        <li>
                                            <h6>Related apps</h6>
                                        </li>
                                        <li>
                                            <ul class="list-apps">
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-1.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Photoshop</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-2.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">illustrator</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-3.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Sheets</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-4.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Gmail</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-5.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Messenger</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-6.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Youtube</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-7.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Flaticon</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-8.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">Instagram</div>
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <div class="image">
                                                        <img src="images/apps/item-9.png" alt="">
                                                    </div>
                                                    <a href="#">
                                                        <div class="text-tiny">PDF</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="tf-button w-full">View all app</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="popup-wrap user type-header">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="header-user wg-user">
                                            <span class="image">
                                                <img src="images/avatar/user-1.png" alt="">
                                            </span>
                                            <span class="flex flex-column">
                                                <span class="body-title mb-2">sayooj p</span>
                                                <span class="text-tiny">Admin</span>
                                            </span>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3" >
                                        <li>
                                            <a href="#" class="user-item">
                                                <div class="icon">
                                                    <i class="icon-user"></i>
                                                </div>
                                                <div class="body-title-2">Account</div>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    
                                        <li>
                                            <a href="/admin/logout" class="user-item">
                                                <div class="icon">
                                                    <i class="icon-log-out"></i>
                                                </div>
                                                <div class="body-title-2">Log out</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /header-dashboard -->
                <!-- main-content -->